@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}
 ul li{
margin: 10px 10px;
font-size: 20px;
}
.bg_nav{
  background-color: rgb(91, 156, 212);
}
.btn1{
  width: 150px;
  font-size: 18px;
  text-align: center;
  border: 2px solid rgb(75, 151, 218);
  background-color: rgb(77, 157, 226);
  color:#fff;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
}
.btn1:hover{
  background-color: #fff;
  color: rgb(65, 150, 224);
  transition:  0.5s;
}